/* 03_components.css includes settings for components with classes asigned */

/*==========  components custom properties  ==========*/
@media screen {
    :root {
        /*        components dimension */
        --figurelogoh: 48px;
        
        --boxshadow-card: 0px 1px 3px rgba(0, 0, 0, 0.15);
        
        --icon-tile-size: 6rem;
        --icon-tile-padding: 1rem 0.5rem 0.5rem;
        --icon-tile-margin: 0.25rem;
        --icon-size: 2.25rem;
        
        /*  bg image      */
        --imgbgcover: url(../vector/image.svg) no-repeat center / cover;
        --imgbgscale: url(../vector/image.svg) no-repeat top / 100% 65vw;
        --imgbggradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        --imgbggradient-dark: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        
        /* transition */
        --02transition: all 0.2s ease-in-out;
        --01transition-out: all 0.2s ease-out;
    }
}

@media screen and (min-width: 460px) {
    :root {
        --icon-tile-size: 7rem;
        --icon-size: 2.75rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --icon-tile-size: 8rem;
        --icon-tile-padding: 1.25rem 0.5rem 1rem;
        --icon-size: 3.25rem;
        
        /*  bg image      */
        --imgbgscale: var(--imgbgcover);
    }

}

@media screen and (min-width: 1024px) {
    :root {}
}

@media screen and (min-width: 1280px) {
    :root {}
}

@media print {
    :root {
        /*        components dimension */
        --figurelogoh: 0.3in;
        
        --boxshadow-card: 0px 1px 3px rgba(0, 0, 0, 0.15);
        
        --icon-tile-size: 6rem;
        --icon-tile-padding: 1rem 0.5rem;
        --icon-tile-margin: 0.25rem;
        --icon-size: 2.25rem;
        
        /*  bg image      */
        --imgbgcover: url(../vector/image.svg) no-repeat center / cover;
        --imgbgscale: url(../vector/image.svg) no-repeat top / 100% 65vw;
        --imgbggradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        --imgbggradient-dark: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
}

/*==========  components settings  ==========*/
.colspanall {
    column-span: all;
    margin-bottom: var(--marginlarge);
}
.colbreakbefore {
    break-before: column;
}
.colbreakinsideno {
    break-inside: avoid;
}

.li-bullet {
    display: list-item;
    list-style: disc;
    margin: 0 0 var(--marginsmall) var(--marginlarge);
}
.nolistmargin li {
    margin: 0;
}
.float-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1.5em;
    background-color: var(--sw-13);
    border: 0.2em solid var(--sw-5);
    border-radius: var(--borderradiusround);
    font-family: 'roboto slab';
    font-style: normal;
    font-size: 2em;
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}

/* all "icon-" components are additional styles to .matrial-icons, font-size determins icon size(em). may use .md-36/48 to enlarge */
.icon-round {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: var(--borderradiusround);
    margin: 0 auto var(--marginsmall);
    line-height: 2em;
    text-align: center;
    background-color: var(--sw-10);
    color: var(--sw-16);
}

.imgbgcover {
    background: var(--imgbgcover);
}
.imgbgscale {
    background: var(--imgbgscale);
}

.icon-tile {
    width: var(--icon-tile-size);
    height: var(--icon-tile-size);
    padding: var(--icon-tile-padding);
    background-color: var(--sw-16);
    box-shadow: var(--boxshadow-card);
    margin: var(--icon-tile-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon-tile i {
    display: block;
    text-align: center;
    font-size: var(--icon-size);
    color: var(--sw-8);
}
.icon-tile h4 {
    font-family: 'roboto slab';
    text-align: center;
    font-size: var(--fine-print);
    letter-spacing: unset;
}
.icon-tile-nomargin {
    margin: 0;
}
.col-tile-tmar {
    margin-top: calc(var(--icon-tile-size) / 2);
}

.iconheadertextlist li {
    display: flex;
}
.iconheadertextlist i {
    flex: 0 0 1.5em;
}

.figimgcover {
    position: relative;
    overflow: hidden;
/*    for cards and gallery */
}
.figimgcover img {
    width: 100%;
    height: 100%;
    position: absolute;
/*    object-fit: fill;*/
    top: 0;
/*    left: 0;*/
}
.figimgcoverratio {
    padding-top: calc(9 / 16 * 100%);
}

.chip-category {
    font-size: var(--fine-print);
    font-style: normal;
    padding: var(--marginsmall) var(--margin);
    margin: 0 var(--margin) var(--marginsmall) 0;
    background-color: var(--sw-14);
    border-radius: var(--borderradiusround);
    display: inline-block;
}

.card-hor-2col {
    display: flex;
    /*    flex-wrap: wrap;*/
     background-color: var(--sw-16);
    box-shadow: var(--boxshadow-card);
}
.card-hor-2col figure {
    min-height: calc(var(--minfigureh) * 0.8);
    flex: 0 0 33.33%;
}
.card-hor-2col section {
    flex-grow: 1;
    padding: var(--margin);
}
.card-hor-2col h3 {
    margin-bottom: var(--marginsmall);
}

.btn-cta {
    display: block;
    padding: 0.4em 1em;
    border-radius: var(--borderradiusround);
    width: fit-content;
    width: -moz-fit-content;
    /*    prevent overflow with max-content */
    font-weight: bold;
    background-color: var(--sw-8);
    color: white;
    /*    letter-spacing: 1px;*/
    transition: all 0.2s ease-in-out;
}
.btn-cta:hover, .btn-cta:focus {
    background: var(--sw-6);
    color: var(--sw-16);
}
.btn-cta::after {
    content: 'open_in_new';
    font-family: 'material icons';
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 0.2em;
    margin-left: -0.9em;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, margin 0.2s 0.1s ease-in-out;
}
.btn-cta:hover::after, .btn-cta:focus::after {
    margin-left: 0.5em;
    opacity: 1;
    transition: margin 0.2s ease-in-out, opacity 0.2s 0.1s ease-in-out;
}

.profile {
    background-color: var(--sw-16);
    padding-top: var(--marginlarge);
    width: 90%;
    max-width: 420px;
    box-shadow: var(--boxshadow-card);
}
.profile i {
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.35;
    text-align: center;
    margin: 0.3em auto;
    color: var(--sw-10);
    background-color: var(--sw-14);
    border: 3px solid currentcolor;
    border-radius: var(--borderradiusround);
}
.profile :is(p, h3, h4) {
    padding: 0 var(--marginlarge);
}
.btn-cta-fullw {
    display: block;
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: 1.2em;
    background-color: var(--sw-8);
    color: var(--sw-16);
    text-align: center;
    margin-top: var(--marginlarge)
}
.btn-cta-fullw:hover, .btn-cta-fullw:focus {
    color: var(--sw-16);
    background-color: var(--sw-6);
}

.collage {
    position: relative;
}
.collage img {
    position: absolute;
    width: min(80%, 400px);
    height: min(60%, 300px);
    object-fit: fill;
    transition: var(--02transition);
}
.collage img:nth-child(3) {
    top: 0;
    left: calc((100% - min(80%, 400px)) / 2);
}
.collage:is(:hover, :focus) img:nth-child(3) {
    top: -10%;
}
.collage img:nth-child(2) {
    right: 0;
    bottom: 0;
}
.collage:is(:hover, :focus) img:nth-child(2) {
    bottom: -10%;
/*    shifting right causes overflow on grid container */
}
.collage img:nth-child(1) {
    left: 0;
    top: calc((100% - min(60%, 300px)) / 2);
}
.collage:is(:hover, :focus) img:nth-child(1) {
    left: -10%;
}
.card {
/*    max-width: 500px;*/
    background-color: var(--sw-16);
    box-shadow: var(--boxshadow-card);
}
.card figure {
    overflow: hidden;
    position: relative;
}
.card-img {
    display: block;
    width: 100%;
    height: var(--minfigureh);
    object-fit: fill;
    transition: var(--02transition);
}
.card-logo {
/*    max-width: 150px;*/
    height: var(--figurelogoh);
    display: block;
    margin: calc(var(--figurelogoh) * -0.5) var(--margin) 0 auto;
    transform: translate(0, 0);
/*    z-index with transform without positioning */
}
.card section {
    padding: var(--margin);
}
.card .btn-cta {
    margin-left: auto;
}
.card-logo-hover {
    height: var(--figurelogoh);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: var(--02transition);
}
/*delayed transition for logo and bg changes */
.card:hover .card-logo-hover {
    opacity: 1;
    transition: opacity 0.2s 0.2s ease-in-out;
}
.card-img-filter {
    transition: filter 0.2s 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out;
}
.card:hover .card-img-filter {
    filter: saturate(0.7) brightness(0.8);
    transition: var(--02transition);
}
.card-ribbon {
    height: var(--figurelogoh);
    position: absolute;
/*    hidden by figure overflow hidden*/
    top: 0;
    right: var(--margin);
    transition: var(--02transition);
    transform-origin: top right;
}
.card:hover .card-ribbon {
    transform: scale(1.1);
}

.flex50 {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.flex50 > * {
    flex: 1 1 auto;
    width: 45%;
/*    svg img inside container has its own intrinsic height which flex-basis can't override */
    max-height: var(--minfigureh);
}

.card footer {
    border-top: 1px solid var(--sw-14);
    padding: var(--margin);
    display: flex;
}
.card footer a::before {
    content: attr(title);
    font-family: 'material icons';
    font-size: 16px;
    vertical-align: top;
    line-height: 1;
    margin-right: 0.3em;
}
.card footer a + a {
    margin-left: 2em;
}
.card footer a:first-child {
    margin-right: auto;
}

/* old */
.card-imgbg {
    padding: calc(var(--marginxl) * 2) var(--margin) var(--marginxl);
    background: var(--imgbggradient-dark), var(--imgbgcover);
    display: flex;
    align-items: flex-end;
    box-shadow: var(--boxshadow-card);
}
.card-imgbg:hover {
    background: var(--imgbggradient), var(--imgbgcover);
}

/* see figimcover component before */
.card.figimgcover img {
    filter: brightness(0.6);
    transition: var(--02transition);
/*    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), 0%, rgba(0, 0, 0, 1));*/
}
.card.figimgcover:hover img {
    transform: scale(1.2);
}
.card.figimgcover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    bottom: 0;
    transition: var(--01transition-out);
}
.card.figimgcover:hover::after {
    height: 80%;
}
.card.figimgcover section {
    color: var(--sw-16);
    padding: var(--marginxl) var(--margin);
    position: absolute;
    bottom: 0;
    z-index: 99;
}

@media (hover: none) {
    .card.figimgcover::after {
    height: 80%;
}
}

.icon-anchor {
    display: block;
    padding: var(--marginsmall);
    text-align: center;
}
.icon-anchor::before {
    content: attr(title);
    font-family: 'material icons';
    font-size: 24px;
    line-height: 2em;
    display: block;
    text-align: center;
    width: 2em;
    height: 2em;
    background-color: var(--sw-14);
    border-radius: var(--borderradiusround);
    margin: 0 auto var(--marginsmall);
    transition: var(--02transition);
}
.icon-anchor:hover::before, .icon-anchor:focus::before {
    background-color: var(--sw-16);
}

/* icon-round
display: block;
    width: 2em;
    height: 2em;
    
    margin: 0 auto var(--marginsmall);
    line-height: 2em;
    text-align: center;
    background-color: var(--sw-10);
    color: var(--sw-16);

m_h_2 i 
    flex: 0 0 auto;
    margin: 0;
*/

.icon-nav {
/*    flex: 0 0 auto;*/
    display: block;
    border-radius: var(--borderradiusround);
    margin: 0 auto var(--marginsmall);
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    color: var(--sw-10);
    background-color: var(--sw-16);
/*    cursor: pointer;*/
/*    margin-top: -1.3em;*/
}

.nav.nav {
    padding: 0 calc(var(--l_r_negmargin) * -1);
    box-shadow: var(--boxshadow-card);
    background-color: var(--sw-16);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    transition: top 0.2s 0.4s ease-in-out;
    overflow: hidden;
}
.nav ul {
    display: flex;
    align-items: center;
}
.nav li:first-child {
    margin-right: auto;
}
.nav li+li {
    margin-top: unset;
    margin-left: 2em;
}
.nav img {
    height: 32px;
    margin: 8px auto;
    vertical-align: top;
}
.nav span {
    display: inline-block;
    font-size: var(--h2);
/*    line-height: 48px;*/
    margin: 0.5em 0 0 0.5em;
    color: var(--sw-8);
}
.nav a {
    position: relative;
}
.nav a::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    border-radius: var(--borderradiusround);
    background-color: currentColor;
    position: absolute;
    bottom: -26px;
    transition: var(--02transition);
}
.nav a:hover::after {
    bottom: -20px;
}

@media print {
    .btn-cta, .btn-cta-fullw {
        display: none;
    }
    .icon-nav {
        display: none;
    }
    .imgbgcover {
    background: url(../vector/image.svg) no-repeat center / cover;
}
    .imgbgscale {
    background: var(--imgbgscale);
}
}