/*========== color & type ==========*/
:root {
    --sw-14-5: #e8e8e8;
}
body > *:nth-child(odd) {
    background-color: inherit;
}
body > *:nth-child(even) {
    background-color: inherit;
}
a, a:link {
    color: var(--sw-6);
}
.demo a:visited {
    color: var(--sw-10);
}
.demo a:hover, .demo a:focus {
    color: var(--sw-2);
    text-decoration: underline 1px;
}
h1 {
    margin: var(--margin) 0 var(--marginxl);
}
h4 {
    margin-bottom: var(--marginsmall);
    text-transform: unset;
    letter-spacing: unset;
}
.intro, .interaction {
    background-color: var(--sw-14-5);
}
.demo, .visual, .m_cd_3 {
    background-color: var(--sw-15);
}

/*========== base ==========*/
body > * {
    padding: unset;
}

li + li {
    margin-top: unset;
}
picture img {
/*    width: 100%;*/
}
.padding {
    padding: var(--padding);
}
.padding_l_r {
    padding: 0 calc(var(--l_r_negmargin) * -1);
}

/* module */

.welcome .stats li + li {
    margin-top: var(--marginlarge);
}
.welcome .stats {
    columns: 220px 3;
    column-gap: var(--marginxl);
}
.welcome .material-icons {
    margin-right: var(--marginsmall);
    vertical-align: text-bottom;
}
.welcome .pagelinks {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--marginlarge) * 2) 0 var(--marginlarge);
    justify-content: space-around;
/*    font-weight: bold;*/
}
.pagelinks li {
    margin: 1em;
}
.intro img {
    max-height: 700px;
    width: 100%;
    object-fit: cover;
}
.intro article {
    columns: 300px 2;
    column-gap: var(--marginxl);
}
.intro div:nth-child(2) {
    margin-top: var(--marginlarge);
}

.demo ul {
    columns: 200px 4;
    column-gap: var(--marginxl);
}
.demo li+li {
    margin-top: var(--marginxl);
}
.demo h4 {
    margin-bottom: var(--margin);
}
.demo a {
    display: block;
    margin-bottom: var(--marginsmall);
}
.demo a[href]::after {
    content: "";
/*    prevent print css from generating "(url)" */
}
.visual img {
    max-height: 700px;
    width: 100%;
    object-fit: cover;
}
.visual ul {
    display: grid;
    grid-gap: var(--marginxl);
    break-inside: avoid;
/*    print spacing bug */
}

@media screen and (min-width: 460px) {
    .visual ul {
     grid-template-columns: 1fr 1fr;   
    }
    .visual h2 {
    grid-column: span 2;
}
}
@media screen and (min-width: 768px) {
    .visual ul {
    grid-template-columns: 1fr 2fr 2fr;
    }
    .visual h2 {
    grid-row: span 3;
    grid-column: unset;
}
}

.collaboration div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: var(--marginxl);
    align-items: center;
}
.collaboration img {
    display: block;
    max-height: 500px;
    margin: 0 auto;
    
}

.interaction {
    --minfigureh: initial;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.interaction > figure {
    margin: var(--marginxl) 0;
    flex-basis: 300px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: var(--margin);
}
.interaction > figure > img:first-child {
    grid-column: span 2;
    height: 450px;
    object-fit: cover;
    object-position: right;
    box-shadow: var(--boxshadow-card);
}
.interaction > figure > img:nth-child(2) {
    height: 300px;
    object-fit: cover;
    object-position: right;
    box-shadow: var(--boxshadow-card);
}
.interaction > figure > img:nth-child(3) {
    object-fit: fill;
    box-shadow: var(--boxshadow-card);
}
.interaction > article {
    flex-basis: 400px;
    flex-grow: 2;
}
.interaction article ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--marginxl);
}
.interaction article figure {
    margin-bottom: 1em;
}

@media screen and (max-width: 767px) {
    .interaction > figure {
        display: none;
    }
}

.m_cd_3 figure {
    height: 500px;
    width: 400px;
    flex-basis: auto;
}
.m_cd_3 img {
    object-fit:cover;
    object-position: top left;
    border: 1px solid var(--sw-12);
    transition: var(--02transition);

} 
.m_cd_3 img:is(:hover, :focus) {
    object-position: bottom right;
}

.footer.footer {
    background-color: var(--sw-8);
    color: var(--sw-14);
}

@media print {
    body {
        padding-top: unset;
    }
    body > * {
        break-inside: unset;
    }
    .visual ul {
    grid-template-columns: 1fr 2fr 2fr;
    }
    .visual h2 {
    grid-row: span 3;
    grid-column: unset;
    }
    .interaction > figure > img:is(:first-child, :nth-child(2)) {
        height: 3in;
    }
    .interaction > figure > img:nth-child(3) {
        height: 3in;
        width: 100%;
        object-fit: cover;
    }
    .interaction > article {
    margin-left: var(--marginxl);
    }
    .m_cd_3 figure {
        width: 24%;
        height: 3in;
    }
    
}