/*========== color & type ==========*/
body > *:nth-child(odd) {
    background-color: unset;
}

body > *:nth-child(even) {
    background-color: unset;
}

a,
a:link {
    color: var(--sw-6);
}

.demo a:visited {
    color: var(--sw-10);
}

.demo a:hover,
.demo a:focus {
    color: var(--sw-2);
    text-decoration: underline 1px;
}

h1 {
    margin: var(--margin-s) 0 var(--margin-l);
}

h4 {
    text-transform: unset;
    letter-spacing: unset;
}

.intro,
#interaction {
    background-color: var(--sw-14-5);
}

.demo,
.visual,
#m_cd_3 {
    background-color: var(--sw-15);
}

/*========== base ==========*/
html {
    scroll-behavior: smooth;
}

body > * {
    padding: unset;
}

li + li {
    margin-top: unset;
}

.padding {
    padding: var(--padding);
}

.padding_l_r {
    padding: 0 var(--padding-lr);
}

/* module */

:root {
    --grid-pagelinks-236: repeat(auto-fit, minmax(120px, auto));
}

@media screen and (min-width: 400px) {
    :root {
        --grid-stats-123: repeat(2, 1fr);
    }
}

@media screen and (min-width: 600px) {
    :root {
        --grid-pagelinks-236: repeat(3, minmax(120px, auto));
    }
}

@media screen and (min-width: 925px) {
    :root {
        --grid-stats-123: repeat(3, 1fr);
        --grid-pagelinks-236: repeat(6, auto);
    }
}

@media print {
    :root {
        --grid-stats-123: repeat(3, 1fr);
    }
}

.welcome .stats {
    display: grid;
    grid-template-columns: var(--grid-stats-123);
    grid-gap: var(--margin-m);

}

.stats li {
    padding-left: 2.5em;
    position: relative;
}

.welcome .material-icons {
    position: absolute;
    left: 0;
}

@media screen and (min-width: 400px) and (max-width: 620px) {
    .welcome b {
        display: block;
    }

}

.pagelinks {
    display: grid;
    grid-template-columns: var(--grid-pagelinks-236);
    justify-content: center;
    justify-items: center;
    grid-gap: var(--margin-s) var(--margin-l);
    margin-top: var(--margin-l);
}

.pagelinks a {
    display: inline-block;
    padding: var(--fixed-spacing-s) var(--fixed-spacing-m);
    background-color: var(--sw-16);
    border-radius: 999px;
    box-shadow: var(--boxshadow-card);
    white-space: nowrap;
}

.intro img {
    max-height: 700px;
    width: 100%;
    object-fit: cover;
}

.intro article {
    columns: 300px 2;
    column-gap: var(--margin-l);
}

.intro .w-wrapper div:nth-child(2) {
    margin-top: var(--margin-l);
}

.demo h2 {
    margin-bottom: var(--margin-l);
}

.demo ul {
    columns: 200px 4;
    column-gap: var(--margin-l);
}

.demo li + li {
    margin-top: var(--margin-m);
}

.demo a {
    display: block;
    margin-bottom: var(--fixed-spacing-s);
}

.visual img {
    max-height: 700px;
    width: 100%;
    object-fit: cover;
}

.visual ul {
    display: grid;
    grid-gap: var(--margin-m) var(--margin-m);
    break-inside: avoid;
    /*    print spacing bug */
}

@media screen and (min-width: 460px) {
    .visual ul {
        grid-template-columns: 1fr 1fr;
    }

    .visual h2 {
        grid-column: span 2;
    }
}

@media screen and (min-width: 768px) {
    .visual ul {
        grid-template-columns: 1fr 2fr 2fr;
    }

    .visual h2 {
        grid-row: span 3;
        grid-column: unset;
    }
}

.collaboration div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: var(--margin-l);
    align-items: center;
}

.collaboration img {
    display: block;
    max-height: 500px;
    margin: 0 auto;

}

.interaction {
    display: flex;
    align-items: flex-start;
}

.interaction > figure {
    margin: var(--margin-l) 0;
    flex-basis: 300px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: var(--margin-s);
}

.interaction > figure > img:first-child {
    grid-column: span 2;
    height: 450px;
    object-fit: cover;
    object-position: right;
    margin-left: auto;
    box-shadow: var(--boxshadow-card);
}

.interaction > figure > img:nth-child(2) {
    height: 300px;
    object-fit: cover;
    object-position: right;
    margin-left: auto;
    box-shadow: var(--boxshadow-card);
}

.interaction > figure > img:nth-child(3) {
    object-fit: cover;
    object-position: top;
    width: 100%;
    max-height: 600px;
    box-shadow: var(--boxshadow-card);
}

.interaction > article {
    flex-basis: 400px;
    flex-grow: 2;
}

.interaction article ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--margin-m);
}

.interaction article figure {
    margin-bottom: var(--fixed-spacing-m);
}

@media screen and (max-width: 767px) {
    .interaction > figure {
        display: none;
    }
}

.m_cd_3 figure {
    height: 500px;
    width: 400px;
    flex-basis: auto;
}

.m_cd_3 img {
    object-fit: cover;
    object-position: top left;
    border: 1px solid var(--sw-12);
    transition: var(--02transition);

}

.m_cd_3 img:is(:hover, :focus) {
    object-position: bottom right;
}

.footer.footer {
    background-color: var(--sw-8);
    color: var(--sw-14);
}

@media print {
    body {
        padding-top: unset;
    }

    body > * {
        break-inside: unset;
    }
    .pagelinks {
        display: none;
    }

    .visual ul {
        grid-template-columns: 1fr 2fr 2fr;
    }

    .visual h2 {
        grid-row: span 3;
        grid-column: unset;
    }
    
    .demo a[href]::after {
    content: "";
    /*    prevent print css from generating "(url)" */
}

    .interaction > figure > img:is(:first-child, :nth-child(2)) {
        height: 3in;
    }

    .interaction > figure > img:nth-child(3) {
        height: 3in;
        width: 100%;
        object-fit: cover;
    }

    .interaction > article {
        margin-left: var(--margin-l);
    }

    .m_cd_3 figure {
        width: 24%;
        height: 3in;
    }

}
